.light-theme {
  background-color: #ffffff; /* Light background color */
  /* Add any other styles for the light theme */
}

.dark-theme {
  background-color: #333333; /* Dark background color */
  /* Add any other styles for the dark theme */
}

div{
  justify-content: center;
  text-align: center;
  height: 1080px;

}

button{
  height: 7vh;
  width: 20vh;
  background-color: white;
  border-radius: 10px;
  background-color: burlywood;
  margin: 10vh;
}