body {
  font-family: Arial, sans-serif;
}

h1 {
  
  text-align: center;
  color: #007BFF;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 20px;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #007BFF;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}
